a,
button,
.btn {
    @include transitionElt(all, 0.25s, ease);
    border: none;
    cursor: pointer;
    color: inherit;
    &:focus,
    &.focus,
    &:active,
    &.active,
    &:active:focus {
        outline: none;
        outline-offset: 0;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:disabled,
    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
}

.skip-main {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

.btn-no-text {
    position: relative;
    padding: 0;
    .btn_label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        text-indent: -9999px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    // @media screen and (min-width: $bp-tablet) {
    //     min-height: 56px;
    // }

    &-cta {
        // border-radius: 60px;
        padding: 10px 30px;
        // @media screen and (min-width: $bp-tablet) {
        //     padding: 0 45px;
        // }
    }
    .btn {
        &_label,
        &_icon {
            color: inherit;
        }
        &_icon {
            font-family: $font-icon;
            i {
                &.fa-rotate-45 {
                    @include rotateElt(-45deg);
                }
            }
        }
        &_label {
            font-family: $font-button;
            // font-weight: $ft-bold;
            font-size: 14px;
            line-height: 1;
            // letter-spacing: $letter-spacing;
            @media screen and (min-width: $bp-tablet) {
                font-size: 18px;
            }
        }
    }
    &:not(.btn-no-text) {
        .btn {
            &_label {
                & + .btn {
                    &_icon {
                        margin-left: 15px;
                    }
                }
            }
            &_icon {
                & + .btn {
                    &_label {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.link {
    font-size: 13px;
    &.underline {
        text-decoration: underline;
    }
    &.disabled {
        opacity: 0.4;
        pointer-events: none;
    }
    &-primary {
        color: $color-primary;
        @media (any-hover: hover) {
            &:hover {
                color: $color-primary;
            }
        }
    }
    &-secondary {
        color: $color-secondary;
        @media (any-hover: hover) {
            &:hover {
                color: $color-secondary;
            }
        }
    }
    &-white {
        color: white;
    }
    &-underline {
        text-decoration: underline;
    }
    &_label {
        letter-spacing: $letter-spacing;
        & + .link {
            &_icon {
                margin-left: 5px;
            }
        }
    }
    &_icon {
        & + .link {
            &_label {
                margin-left: 5px;
            }
        }
    }
    &.xl {
        min-height: 48px;
        .link {
            &_label {
                font-size: 16px;
            }
            &_icon {
                font-size: 18px;
            }
        }
    }
    &.medium {
        .link {
            &_label {
                font-size: 14px;
            }
            &_icon {
                font-size: 16px;
            }
        }
    }

    &.small {
        .link {
            &_label {
                font-size: 12px;
            }
            &_icon {
                font-size: 14px;
            }
        }
    }
}
