@import "./mixins.scss";

$color-white: #ffffff;
$color-black: #000000;
$color-black-75: #4c4c4c;
$color-black-50: #8f8f8f;
$color-black-25: #f4f4f4;

$color-html: $color-white;
$color-body: $color-white;
$color-background: $color-white;
$color-text: $color-black;

$color-primary: #fc5743;
$color-secondary: #f2404b;

// SOCIALS
// $color-facebook: #3746a2;
// $color-twitter: #299dee;
// $color-youtube: #bb0000;
// $color-instagram: #125688;
// $color-linkedin: #0d6797;
// $color-pinterest: #cb2027;
// $color-whatsapp: #4dc247;
// $color-snapchat: #fffc00;

// FORM
// $color-form: #ffffff !default;
// $color-form-text: #ffffff !default;
// $color-form-title: #ffffff !default;