// .MuiPaper {
//     &-root {
//         font-family: $font-mui;
//         box-shadow: 0 2px 5px rgba(black, 0.2) !important;
//         &.MuiPaper {
//             &-rounded {
//                 border-radius: 0;
//             }
//         }
//         .MuiList-padding {
//             border-radius: 0;
//             padding: 0;
//         }
//         .MuiPaper {
//             &-paper {

//             }
//             &-list {
//                 .MuiMenuItem {
//                     &-root {
//                         &.Mui-selected {
//                             background-color: red;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.root-yearSelectionLocation {
    z-index: 10000 !important;
}

.MuiPaper {
    &-root {
        font-family: $font-mui;
        box-shadow: none !important;
        background-color: transparent !important;
        overflow: unset !important;

        &.paper-switchLange {
            background-color: white !important;
            .MuiList-root {
                &.list-switchLange {
                    padding-top: 0;
                    padding-bottom: 0;
                    border-radius: 0 0 4px 4px;

                    .MuiMenuItem {
                        &-root {
                            &.Mui-selected {
                                background-color: transparent;
                                span {
                                    font-weight: $ft-bold;
                                }
                            }
                        }
                    }
                }
            }
        }

        .MuiList-root[aria-labelledby="impactSelection"],
        .MuiList-root[aria-labelledby="yearSelectionMap"],
        .MuiList-root[aria-labelledby="yearSelectionMark"],
        .MuiList-root[aria-labelledby="yearSelectionLocation"] {
            width: calc(100% + 2px);
            background-color: $color-grey-150;
            color: white;
            box-shadow: 0px 2px 2px rgba(44, 44, 44, 0.25), 0px 16px 20px rgba(44, 44, 44, 0.5);
            border-radius: 0 0 8px 8px;
            padding: 0;
            .MuiMenuItem {
                &-root {
                    font-family: $font-body-wf;
                    line-height: 1;
                    font-size: 12px;
                    min-height: 28px;
                    padding: 0 16px;
                    letter-spacing: 0.05em;
                    &:last-child {
                        border-radius: 0 0 8px 8px;
                    }
                    &:hover {
                        background-color: $color-background-dark;
                    }
                    & + .MuiMenuItem {
                        &-root {
                            margin-top: 5px;
                        }
                    }
                    // &.MuiListItem-gutters {
                    //     padding-top: 0;
                    //     padding-bottom: 0;
                    //     padding-left: 0;
                    //     padding-right: 0;
                    // }
                    &.Mui {
                        &-selected {
                            background-color: transparent;

                            font-weight: $ft-bold;

                            a {
                                background-color: $color-primary;
                                color: white;
                            }
                        }
                    }
                    a {
                        border-radius: 5px;
                        display: flex;
                        width: 100%;
                        flex-flow: wrap;
                        align-items: center;
                        padding: 5px;
                        min-height: 32px;
                    }

                    span {
                        display: block;
                        font-size: 24px;
                        &.link {
                            &-flag {
                                width: 48px;
                                height: 30px;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            &-country {
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }

        .MuiList-root[aria-labelledby="yearSelectionMark"],
        .MuiList-root[aria-labelledby="yearSelectionMap"] {
            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $color-grey-150;
                border-radius: 8px;
                border: 2px solid transparent;
                background-clip: content-box;
            }
            &::-webkit-scrollbar-track {
                background-color: $color-white;
                border-radius: 8px;
            }
        }

        .MuiList-root[aria-labelledby="yearSelectionMark"] {
            min-width: auto;
            transform: translate(0px, 38px);
            padding-top: 8px;
            max-height: 150px;
            overflow: auto;
            width: 100%;
        }

        .MuiList-root[aria-labelledby="yearSelectionLocation"] {
            min-width: auto;
            background-color: $color-white;
            color: $color-background-dark;
            transform: translate(0px, 36px);
            width: 100%;
            max-height: 150px;
            overflow: auto;
            padding-top: 8px;

            .MuiMenuItem {
                &-root {
                    &:hover {
                        &:not(.Mui-selected) {
                            color: $color-white;
                        }
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $color-white;
                border-radius: 8px;
                border: 2px solid transparent;
                background-clip: content-box;
            }
            &::-webkit-scrollbar-track {
                background-color: $color-grey-150;
                border-radius: 8px;
            }
        }

        .MuiList-root[aria-labelledby="impactSelection"] {
            transform: translate(-1px, 29px);
            width: calc(100% + 2px);
        }

        .MuiList-root[aria-labelledby="yearSelectionMap"] {
            transform: translate(-1px, 29px);
        }

        // &.MuiPaper {
        //     &-rounded {
        //         border-radius: 0;
        //     }
        // }
        // .MuiList-padding {
        //     border-radius: 0;
        //     padding: 0;
        // }
        // .MuiPaper {
        //     &-paper {
        //     }
        //     &-list {
        //         .MuiMenuItem {
        //             &-root {
        //                 &.Mui-selected {
        //                     //background-color: red;
        //                 }
        //             }
        //         }
        //     }
        // }
        // .MuiButtonBase {
        //     &-root {
        //         a {
        //             color: $color-primary;
        //         }
        //     }
        // }
    }
}

// .MuiList-root[aria-labelledby="idForStyle"] {
//     border: 3px solid $color-white;
//     border-radius: 23px;
//     overflow: hidden;
//     padding: 7px;
//     background-color: $color-primary;

//     width: calc(100vw - 40px);
//     transform: translateX(-4px) !important;
//     @media screen and (min-width: $bp-smartphone) {
//         width: calc(100vw - 60px);
//         transform: translateX(-14px) !important;
//     }
//     @media screen and (min-width: $bp-smartphone-large) {
//         width: 400px;
//         transform: translateX(-27px) !important;
//     }

//     .Mui-selected {
//         span {
//             font-weight: $ft-bold;
//         }
//     }
// }
