@import "@scss/__mandatory";

.menu {
    &-touch {
        z-index: 8001 !important;
    }
    &-overlay {
        //background-color: rgba(white, 0.8) !important;
    }
    &-head {
        width: 100%;
        min-height: 48px;

        .link-home {
            width: calc(100% - 60px);

            a {
                padding: 10px;
                display: flex;
                align-items: center;
                flex-flow: wrap;
                width: 100%;
                height: 100%;
                min-height: 48px;

                .logo-brand {
                    display: block;
                    width: 48.5px;
                    height: 42.7px;
                    margin: auto 0;
                }
            }
        }
    }
    &-link {
        //@warn: 1px solid $color-border;
        color: white;
        &.lvl0 {
            border-top: 1px solid rgba(75, 75, 75, 0.1);
            & + .menu {
                &-link {
                    &.lvl0 {
                        // margin-top: 24px;
                    }
                }
            }
            &.item-productions {
                .link {
                    color: white;
                    font-size: 18px;
                    font-weight: $ft-medium;
                    padding-left: 35px;
                }
            }
            &.item-contact {
                // .link {
                //     color: white;
                //     font-size: 18px;
                //     font-weight: $ft-medium;
                //     padding-left: 35px;
                // }
                .sublink {
                    color: $color-primary;
                    .link {
                        &_icon {
                            & + .link {
                                &_label {
                                    margin-left: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            text-align: left;
            min-height: 40px;
            padding: 0 20px;
            color: #141414;
            text-align: center;
            margin: auto;

            &_label {
                position: relative;
                display: block;
                margin: auto;
                font-size: 14px;
            }

            &.lvl0 {
                font-size: 14px;
            }
        }

        .drop {
            position: relative;
            width: 100%;
            // display: none;
            &-wrapper {
                position: relative;
                padding-left: 20px;
                &:before {
                    content: "";
                    width: 100%;
                    height: 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    //@include bg-gradient( 180deg, rgba(black, 0.15), rgba(black, 0) );
                }
            }
        }
    }
    &-sublink {
        //border-top: 1px solid $color-border;
        .sublink {
            display: flex;
            align-items: center;
            min-height: 40px;
            padding: 0;
            padding-left: 15px;
            color: white;
            font-size: 18px;
            font-weight: $ft-medium;
        }
        & + .menu {
            &-sublink {
                margin-top: 10px;
            }
        }
    }
    &-touch {
        position: relative;
        display: flex;
        flex-flow: wrap;
        top: 0;
        max-width: 280px;

        font-family: $font-title;

        &.open {
            :global {
                .bm {
                    &-menu {
                        .menu {
                        }
                        &-wrap {
                        }
                    }
                    &-item {
                        //display: inline-block;
                        &-list {
                            padding: 0;
                            width: 100%;
                            @include transitionElt(all, 0.3s 1s, ease);
                        }
                    }
                }
            }
        }
        &.close {
            :global {
                .bm {
                    &-menu {
                        .menu {
                            // width: 0%;
                            // @include transitionElt(all, 0.3s 0.3s, ease);
                        }
                        &-wrap {
                        }
                    }
                    &-item {
                        //display: inline-block;
                        &-list {
                            width: 100%;
                            @include transitionElt(all, 0.25s, ease);
                        }
                    }
                }
            }
        }

        :global {
            .menu {
                height: 100%;
            }
            .bm {
                &-menu {
                    width: 100% !important;
                    &-wrap {
                    }
                }
                &-item {
                    &-list {
                        left: auto !important;
                        background-color: $color-white;

                        a {
                            min-height: 48px;
                        }
                    }
                }
                &-morph-shape {
                    color: white;
                    svg {
                        fill: currentColor;
                    }
                }
            }
        }
    }
}
