@use "sass:math";
@import "@scss/_mandatory";

.editor {
    font-weight: $ft-regular;
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
    @media screen and (min-width: $bp-tablet) {
        font-size: 14px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
        font-weight: $ft-bold;
        margin-bottom: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
    h2 {
        font-size: 20px;
        line-height: 1.2;
        @media screen and (min-width: $bp-tablet) {
            font-size: 24px;
        }
    }
    h3 {
        font-size: 18px;
        line-height: 1.2;
        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 16px;
        line-height: 1.4;
        @media screen and (min-width: $bp-tablet) {
            font-size: 20px;
        }
    }
    em {
        color: inherit;
    }
    dfn,
    cite,
    em,
    i {
        font-style: italic;
    }
    b,
    strong {
        font-weight: $ft-bold;
    }

    a {
        text-decoration: underline;
        @media (any-hover: hover) {
            &:hover {
                color: $color-thirty;
            }
        }
    }
    p {
        word-break: break-word;
        margin-bottom: 0;
        & + p,
        & + h2,
        & + h3,
        & + h4 {
            margin-top: 15px;
        }
        p {
            padding-top: 0;
            padding-left: 20px;
        }
    }
    table,
    th,
    td,
    .mce-item-table,
    .mce-item-table th,
    .mce-item-table td {
        border: 1px solid $color-border;
        line-height: 1;
        p {
            margin-bottom: 0;
        }
    }
    table {
        thead {
            tr {
                td {
                    background-color: $color-border;
                }
            }
        }
    }
    blockquote {
        border-left: 4px solid $color-secondary;
        background-color: $color-white;
        //font-size: 19px;
        font-style: italic;
        line-height: 1.4;
        margin-bottom: 28px;
        overflow: hidden;
        padding: 8px 10px 8px 12px;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        cite,
        small {
            color: #1a1a1a;
            font-size: 16px;
            line-height: 1.75;
        }

        em,
        i,
        cite {
            font-style: normal;
        }

        strong,
        b {
            font-weight: $ft-regular;
        }
        &:not(.alignleft):not(.alignright) {
            margin-left: -10px;
        }

        &:not(.alignleft):not(.alignright) {
            margin-left: 0;
        }

        &.alignleft,
        &.alignright {
            border: 0 solid #1a1a1a;
            border-top-width: 4px;
            padding: 18px 0 0;
            width: -webkit-calc(50% - 14px);
            width: calc(50% - 14px);
        }
    }

    code,
    kbd,
    tt,
    var,
    samp,
    pre {
        font-family: Inconsolata, monospace;
    }

    pre {
        border: 1px solid #d1d1d1;
        font-size: 16px;
        line-height: 1.3125;
        margin: 0 0 28px;
        max-width: 100%;
        overflow: auto;
        padding: 14px;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    code {
        background-color: #d1d1d1;
        padding: 2px 4px;
    }

    abbr[title] {
        border-bottom: 1px dotted #d1d1d1;
        cursor: help;
    }

    mark,
    ins {
        background: #007acc;
        color: #fff;
        padding: 2px 4px;
        text-decoration: none;
    }

    sup,
    sub {
        font-size: 75%;
        height: 0;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        top: -6px;
    }

    sup {
        bottom: -3px;
    }

    small {
        font-size: 80%;
    }

    big {
        font-size: 125%;
    }
    address {
        font-style: italic;
        margin: 0 0 28px;
    }
    hr {
        background-color: #d1d1d1;
        border: 0;
        height: 1px;
        margin-bottom: 28px;
    }
    :global {
        .image {
            text-align: center;
            margin: 0 auto;
            @media screen and (min-width: $bp-tablet) {
                margin: inherit;
                &.image-style-align-right {
                    float: right;
                    margin-left: 20px;
                }
                &.image-style-align-center {
                    margin: 0 auto;
                }
                &.image-style-align-left {
                    float: left;
                    margin-right: 20px;
                }
            }
        }
    }
    ul {
        list-style: disc;
    }
}

// .editor h5 {
//     font-size: 18px;
// }

// .editor h6 {
//     font-size: 16px;
// }

/**
 * 3.0 - Elements
 */

.editor ul,
.editor ol {
    margin: 0 0 28px 0;
    padding: 0;
}

.editor ol {
    list-style: decimal;
}

.editor li > ul,
.editor li > ol {
    margin-bottom: 0;
}

.editor li > ul,
.editor blockquote > ul {
    margin-left: 20px;
}

.editor li > ol,
.editor blockquote > ol {
    margin-left: 24px;
}

.editor dl {
    margin: 0 0 28px;
}

.editor dt {
    font-weight: bold;
}

.editor dd {
    margin: 0 0 28px;
}

.editor {
    table {
        background-color: $color-white;
        thead {
            tr {
                td {
                    background-color: $color-primary;
                    &:first-child {
                        background-color: white;
                    }
                }
            }
        }
    }
}

.editor table a {
    color: $color-thirty;
}

.editor table,
.editor .mce-item-table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 28px;
    width: 100%;
}

.editor table th,
.editor .mce-item-table th,
.editor table caption {
    border-width: 0 1px 1px 0;
    font-size: 16px;
    font-weight: $ft-bold;
    padding: 7px;
    text-align: left;
    vertical-align: baseline;
}

.editor table td,
.editor .mce-item-table td {
    border-width: 0 1px 1px 0;
    font-size: 16px;
    padding: 7px;
    vertical-align: baseline;
}

.editor img {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.editor a img {
    display: block;
}

.editor figure {
    margin: 0;
}

.editor del {
    opacity: 0.8;
}

.editor fieldset {
    border: 1px solid #d1d1d1;
    margin: 0 0 28px;
    padding: 14px;
}

/**
 * 4.0 - Alignment
 */

.editor .alignleft {
    float: left;
    margin: 6px 28px 28px 0;
}

.editor .alignright {
    float: right;
    margin: 6px 0 28px 28px;
}

.editor .aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 28px;
}

/**
 * 5.0 - Caption
 */

.editor .wp-caption {
    background: transparent;
    border: none;
    margin-bottom: 28px;
    max-width: 100%;
    padding: 0;
    text-align: inherit;
}

.editor .wp-caption-text,
.editor .wp-caption-dd {
    color: #686868;
    font-size: 13px;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 7px;
}

/**
 * 6.0 - Galleries
 */

.editor .mce-content-body .wpview-wrap {
    margin-bottom: 28px;
}

.editor .gallery {
    margin: 0 -1.1666667%;
    padding: 0;
}

.editor .gallery .gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.editor .gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.editor .gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.editor .gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.editor .gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.editor .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.editor .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.editor .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.editor .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.editor .gallery .gallery-caption {
    font-size: 13px;
    margin: 0;
}

.editor .gallery-columns-6 .gallery-caption,
.editor .gallery-columns-7 .gallery-caption,
.editor .gallery-columns-8 .gallery-caption,
.editor .gallery-columns-9 .gallery-caption {
    display: none;
}

/**
 * 7.0 - Audio / Video
 */

.editor .wp-audio-shortcode a,
.editor .wp-playlist a {
    box-shadow: none;
}

.editor .mce-content-body .wp-audio-playlist {
    margin: 0;
    padding-bottom: 0;
}

.editor .mce-content-body .wp-playlist-tracks {
    margin-top: 0;
}

.editor .mce-content-body .wp-playlist-item {
    padding: 10px 0;
}

.editor .mce-content-body .wp-playlist-item-length {
    top: 10px;
}

/**
 * 8.0 - RTL
 */

.rtl .editor blockquote {
    border: 0 solid #1a1a1a;
    border-right-width: 4px;
}

.rtl .editor blockquote.alignleft,
.rtl .editor blockquote.alignright {
    border: 0 solid #1a1a1a;
    border-top-width: 4px;
}

.rtl .editor blockquote:not(.alignleft):not(.alignright) {
    margin-right: -28px;
    padding: 0 24px 0 0;
}

.rtl .editor blockquote blockquote:not(.alignleft):not(.alignright) {
    margin-right: 0;
    margin-left: auto;
}

.rtl .editor li > ul,
.rtl .editor blockquote > ul {
    margin-right: 20px;
    margin-left: auto;
}

.rtl .editor li > ol,
.rtl .editor blockquote > ol {
    margin-right: 24px;
    margin-left: auto;
}

.rtl .editor table th,
.rtl .editor .mce-item-table th,
.rtl .editor table caption {
    text-align: right;
}

.editor {
    img {
        &.wp-smiley,
        &.emoji {
            float: none;
            width: 16px;
            height: auto;
        }
    }
    $heightLine: 1.5rem;

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    .sitemap > li > ul {
        margin-top: 15px;
    }

    ul {
        &.list-sitemap {
            list-style: none;

            li {
                line-height: $heightLine;
                vertical-align: top;
                position: relative;
                .inner-link {
                }
                a {
                    text-decoration: none;
                    color: black;
                    display: inline-block;
                    padding: 0 5px;
                    .btn-label {
                        line-height: 24px;
                    }
                    @media (any-hover: hover) {
                        &:hover {
                            color: black;
                            text-decoration: underline;
                        }
                    }
                }
            }

            ul {
                margin-left: 15px;
                margin-bottom: 15px;

                li {
                    position: relative;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 30px * 2;
                        height: 100%;
                        border-left: 1px #ccc solid;
                        position: absolute;
                        top: math.div(30, 2) * -1px;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        width: 30px * 2;
                        height: 15px;
                        border-bottom: 1px #ccc solid;
                        position: absolute;
                        top: math.div(30, 2) * -1px;
                    }
                    a {
                        margin-left: 15px * 2.5;
                    }
                }
            }
        }
    }
}

.editor {
    a {
        color: inherit;
    }
    ul {
        padding: 15px 0 15px 20px;
        li {
            position: relative;
            margin-left: 10px;
            // &:before {
            //     content: "●";
            //     margin-right: 5px;
            // }
        }
    }
}
