input {
    &[type="color"],
    &[type="date"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="month"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="time"],
    &[type="url"] {
        border: 2px solid $color-black;
        height: 40px;
        padding: 0 15px;
    }
}
