
.MuiPopover {
    &-root {
        font-family: $font-mui;
        .MuiPaper {
            &-root {
                border-radius: 0;
                padding: 15px;
                max-width: 240px;

                box-shadow: 0 3px 10px rgba($color-grey-100, 0.34);
                @media screen and (min-width: $bp-tablet) {
                    max-width: 600px;
                }
                .popover {
                    &-content {
                        font-family: $font-mui;
                        font-size: 13px;
                        line-height: 1.8;
                        @media screen and (min-width: $bp-tablet) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}