.MuiSelect {
    &-root {
        font-family: $font-mui;
        height: 28px;
        min-height: 28px;
        line-height: 28px;
        padding: 0 10px;
        letter-spacing: 0.05em;
    }
    &-nativeInput {
        display: block;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        line-height: 1;
    }
    &-icon {
        color: white;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-selectMenu {
        font-size: 12px;
        padding-left: 16px;
        text-align: left;
    }
}

.MuiInputBase {
    &-root {
        font-family: $font-mui;
        background-color: $color-grey-150;
        border: 1px solid $color-grey-150;
        border-radius: 0;
        color: white;
        box-shadow: none;
        &:hover {
            background-color: $color-background-dark;
            border-color: $color-background-dark;     
        }
        fieldset {
            display: none;
        }
    }
}