$own-medias-path: "/assets/images";

$ratio: math.div(16,9);

$grid-tablet : 768px;
$grid-tablet-large : 864px;
$grid-small : 960px;
$grid-medium : 1180px;
$grid-large : 1320px;
$grid-xlarge : 1440px;
$grid-xxlarge : 1600px;
