//$prefixCdn : "https://ewr1.vultrobjects.com/";
$prefixCdn : "";

$prefix : "";

$own-font-path: "#{$prefixCdn}#{$prefix}/assets/fonts/";
$fa-font-path: "#{$prefixCdn}#{$prefix}/assets/fonts/";
$own-image-path: "#{$prefix}assets/images/";
$own-medias-path: "#{$prefix}assets/medias/";
