@use "sass:math";
@import "./___settings/variables";
@import "./___settings/breakpoints";
@import "./___settings/mixins";
@import "./___settings/fonts";
@import "./___settings/colors";
@import "./___settings/lists";
@import "./___settings/editor";

.btn-no-text {
    .btn-label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        text-indent: -9999px;
    }
}
